.app-bg{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:16px 32px;
    background-color: var(--color-black);
    color:white;
    flex-wrap: wrap;
}

.app-wrapper-img img{
    width: 800px;
    height: 1000px;
    margin: 30px 0;
}

.app-chef-content{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.app-chef-content-quote{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.app-chef-content-quote img{
    width: 45px;
    height: 40px;
    margin: 0 1rem 1rem 0;
}

.app-chef-sign{
    width: 100%;
    margin-top: 3rem;
}

.app-chef-sign img{
    width: 350px;
    margin-top: 3rem;
}

.app-chef-sign p:first-child{
    font-family: var(--font-base);
    font-weight: 400;
    font-size: 35px;
    line-height: 40px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: var(--color-golden);
}

@media screen and  (max-width: 2000px){
    .app-chef-sign img{
        width: 370px;
        margin-top: 3rem;
    }
}

@media screen and  (max-width: 450px){
    .app-chef-sign img{
        width: 80%;     
    }

    .app-wrapper-img img{
        width: 10px;
        height:50px ;
    }
}