h1{
  font-family: var(--font-base);
  color: var(--color-golden);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 117px;
  font-size: 90px;
}

.spoon-img{
  width: 100%;
  max-width: 100px; /* Adjust the max-width value as per your preference */
  height: auto;
}

.p-opensans{
  margin:2rem 0;
  font-size: 18px;
}

.app-specialMenu {
    display: flex;
    flex-direction: column;
    background: var(--color-black);
    color: white;
    padding: 16px 32px;
    align-items: center; 
  }
  
  .app-specialMenu-title {
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .app-specialMenu-menu {
    display: flex;
    width: 100%;
    margin: 2rem 0;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
  }
  
  .app-specialMenu-menu-heading {
    font-family: var(--font-base);
    font-weight: 600;
    font-size: 45px;
    line-height: 58.5px;
    letter-spacing: 0.04em;
    color: white;
  }
  
  .app-specialMenu-menu-wine, 
  .app-specialMenu-menu-cocktails{
    flex: 1;
    width: 100%;
    flex-direction: column;
  }

  .app-specialMenu-menu-img {
    display: flex;
    flex-direction: column;
    width: 480px;
    margin: 0 2rem;
  }
  
  .app-specialMenu-menu-img img {
    width: 100%;
    height: auto;
  }
  
  .app-specialMenu-menu-items{
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    width: 100%;
  }

  .app-specialMenu-button {
    display: flex;
    justify-content: center; /* Добавена промяна */
  }

  @media screen and (max-width: 2000px) {
    .app-specialMenu-menu-img{
      width: 650px;
    } 

    .app-specialMenu-menu-img img{
      height: 920px;
    } 

    h1{
      font-size: 90px;
      line-height: 90px;
    }
  }

  @media screen and (max-width: 1150px) {
    .app-specialMenu-menu{
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    .app-specialMenu-menu-img{
      margin: 0 3rem;
    }

    h1{
      font-size: 50px;
      line-height: 50px;
    }
  }

  @media screen and (max-width: 650px) {
    .app-specialMenu-menu-img{
      width: 100%;
    }
    .app-specialMenu-menu-heading{
      font-size: 35px;
      line-height: 45px;
    }

    h1{
      font-size: 30px;
      line-height: 30px;
    }
  }