.app-specialMenu {
    display: flex;
    flex-direction: column;
    background: var(--color-black);
    color: white;
    padding: 16px 32px;
    align-items: center; /* Добавена промяна */
  }
  
  .app-specialMenu-title {
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .app-specialMenu-menu {
    display: flex;
    width: 100%;
    margin: 2rem 0;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
  }
  
  .app-specialMenu-menu-heading {
    font-family: var(--font-base);
    font-weight: 600;
    font-size: 45px;
    line-height: 58.5px;
    letter-spacing: 0.04em;
    color: white;
  }
  
  .app-specialMenu-menu-img {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 5rem;
  }
  
  .app-specialMenu-menu-img img {
    width: 100%;
  }
  
  .app-specialMenu-button {
    display: flex;
    justify-content: center; /* Добавена промяна */
    margin-top: 15px;
  }