.bg-app{
    background: var(--color-black);
    color: white;
    padding: 16px 32px;
}


.app-laurels-awards{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3rem;
    flex-wrap: wrap;
}

.app-laurels-awards-card{
    flex:1;
    display: flex;
    justify-content: flex-start ;
    align-items: flex-start ;
    min-width: 230px;
    margin: 1rem;
}

.app-laurels-awards-card img{
    width: 100px;
    height: 100px;
}

.app-wrapper-img {
    display: flex;
    align-items: center;
    justify-content: center; /* Added to center horizontally */
    height: 100vh; /* Added to center vertically */
  }
  
  .centered-image img {
    max-width: 100%;
    max-height: 100%;
  }


@media screen and (min-width:1900px) {
    .app-laurels-awards-card{
        min-width: 390px;
    }
}

@media screen and (max-width:450px) {
    .app-laurels-awards-card{
        min-width: 100%;
        margin: 1rem 0;
    }
}