.app-aboutus{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:16px 32px;
    background-color: var(--color-black);
    color:white;
}

.app-aboutus-overlay{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-aboutus-overlay img{
    width: 390px;
    height: 415px;
    z-index: 0;
}

.app-aboutus-content{
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
}

.app-aboutus-content-about{
    flex:1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
}

.app-aboutus-content-about h1{
    font-family: var(--font-base);
    color: var(--color-golden);
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 117px;
    font-size: 90px;
} 

.spoon-img{
    width: 100%;
    max-width: 100px; /* Adjust the max-width value as per your preference */
    height: auto;
}

.p-opensans{
    margin:2rem 0;
    font-size: 18px;
}
.app-aboutus-content-knife{
    margin: 2rem 4rem;
   
}

.app-aboutus-content-knife img {
    height: 900px;
}

.app-aboutus-content-history{
    flex:1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
}

.app-aboutus-content-history h1{
    font-family: var(--font-base);
    color: var(--color-golden);
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 117px;
    font-size: 90px;
} 

@media screen and (min-width: 2000px) {
    .app-aboutus-content-knife img {
        height: 1110px;
    }

    .app-aboutus-content-about p,
    .app-aboutus-content-history p {
        margin: 4rem 0;
    }
}

@media screen and (max-width: 900px) {
    .app-aboutus-content {
        flex-direction: column;
    }

    .app-aboutus-content-knife {
        margin: 4rem 0;
    }
}

@media screen and (max-width: 650px) {
    .app-aboutus-overlay img {
        width: 80%;
        height: 320px;
    }
}