.app-header {
    background-color: var(--color-black);
    display: flex;
    align-items: center;
    color:white;
    padding:16px 32px;
}

.app-wrapper-info {
    flex: 1;
    padding: 20px;
    text-align: center;
}


.app-header-h1 {
    font-family: var(--font-base);
    color: var(--color-golden);
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 117px;
    font-size: 90px;
}

.app-header-img {
    flex: 1;
    text-align: center;
}

.app-header-img img {
    width: 100%;
    max-width: 500px; /* Adjust the max-width value as per your preference */
    height: auto;
}


.custom-button{
    font-family: var(--font-base);
    background-color: var(--color-golden);
    border: none;
    color: grey;
    padding: 10px 20px;
    font-size: 1.3rem;
    font-weight: bold;
}

.custom-button:hover{
    cursor: pointer;
    color: blueviolet;
    background-color: rgb(255, 230, 0);
}

@media screen and (min-width: 2000px) {
    .app-header-h1 {
        font-size: 180px;
        line-height: 210px;
    }
}

@media screen and (max-width: 1150px) {
    .app-header-h1 {
        font-size: 90px;
    }
}

@media screen and (max-width: 650px) {
    .app-header-h1 {
        font-size: 70px;
        line-height: 87px;
    }
}

@media screen and (max-width: 450px) {
    .app-header-h1 {
        font-size: 50px;
        line-height: 70px;
    }
}